.grid{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 100px 1fr 120px;
    height: 100%;
    grid-gap: 8px;
}

.grid-tile{
    background-color: aqua;
}

.app-header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color:rgb(32, 32, 32);
}

.app-footer{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color:rgb(32, 32, 32);
}

.app-content{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; 
}