<div class="form-content flex flex-row justify-center">

    <form class="flex flex-column">
        <label for="gender">Gender</label>
        <select id="gender">
            <option>Male</option>
            <option>Female</option>
            <option>Unspecified</option>
        </select>
        <label for="firstName">First Name</label>
        <input id="firstName" type="text">
        <label for="lastName">Last Name</label>
        <input type="button" value="Random Name">
        <label for="age">Age</label>
        <input id="age" type="number">
        <label for="residence">Residence</label>
        <input id="residence" type="text">
        <label for="birthplace">Birthplace</label>
        <input id="birthplace" type="text">
    </form>
</div>