<div class="flex flex-row form-content">
    <form class="flex flex-column">
        <div class="flex flex-row" *ngFor="let s of investigatorRef.skills; index as i">
            <div class="flex flex-row ">
                <p>{{s.name}}</p>
                <input type="number" value="{{s.level}}"/>
                <p>({{skillDescriptionRef[i].minimumLevel}}%)</p>
            </div>
            <div>
                <button (click)="adjustSkillValue(i,-5)">-5</button>
                <button (click)="adjustSkillValue(i,-1)">-1</button>
                <button (click)="adjustSkillValue(i,1)">+1</button>
                <button (click)="adjustSkillValue(i,5)">+5</button>
            </div>
        </div>
    </form>
</div>