<div class="flex flex-row form-content justify-center">
    <div>
        <form class="flex flex-column">
            <input type="button" (click)="generateRandomStats()" value="Re-Roll Stats" />
            <div *ngFor='let c of investigator.characteristics; index as i'>
                <div class="flex flex-row">
                    <div class="characteristic-label">
                        <label for="{{c.name}}">{{c.name}}</label>
                    </div>
                    <div class="flex flex-column characteristic-value">
                        <input id="{{c.name}}" type="number" [(ngModel)]="investigator.characteristics[i].value"
                            name="{{c.name}}" disabled>
                    </div>
                    <div class="flex flex-column">
                        <div class="flex flex-row">
                            <p>1/2:</p>
                            <p>{{c.value /2 | number: '1.0-0'}}</p>
                        </div>
                        <div class="flex flex-row">
                            <p>1/5:</p>
                            <p>{{c.value /5 | number: '1.0-0'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>